PORT=3000
JWT_SECRET=replace_me

# 微信小程序
WX_APPID=wx_your_appid
WX_SECRET=your_wx_secret

FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx
FEISHU_APP_TOKEN=bascn_xxx

FEISHU_TEAMS_TABLE_ID=tbl_team
FEISHU_APPLICATIONS_TABLE_ID=tbl_apply
FEISHU_TEAM_MEMBERS_TABLE_ID=tbl_members
